.cardContainer {
  width: 100%;
}

.card {
  border: 2px solid #e2e1e2;
  border-radius: 3px;
  overflow: hidden;
}

.card > .content {
  padding: 12px;
}

.hilight-container {
  display: inline;
}

.hilight-container > span:not(:last-child) {
  padding-right: 5px;
}

.hilight {
  font-size: 15px;
  color: #e07d79;
}

.crossout {
  color: #9b9b9b;
  font-size: 13px;
  -ms-text-decoration: line-through;
  text-decoration: line-through;
}

.card.vertical {
  width: 240px;
  display: inline-block;
}

.card.vertical > .imgContainer {
  height: 34%;
}

.card.vertical > .content {
  height: 66%;
}

.card.vertical > .imgContainer > img {
  height: 100%;
  margin: auto;
}

.card.horizontal {
  width: 480px;
  height: 160px;
  display: table;
  position: relative;
}

.card.horizontal > .imgContainer {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 40%;
}

.card.horizontal > .imgContainer > img {
  display: inline-block;
  max-width: 192px;
}

.card.horizontal > .content {
  display: inline-block;
  width: 280px;
  height: 100%;
}

.card.horizontal > .content > .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 20px;
}

.title {
  display: block;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 16px;
}

.label {
  color: #a5a5a5;
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}

.rating {
  display: inline-block;
}

.star {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.star:not(:first-child) {
  margin-left: 3px;
}

.filled_star {
  background-color: #fec62f;
}

.empty_star {
  background-color: #d9d8d8;
}

.author {
  position: relative;
  color: #a5a5a5;
  padding-left: 18px;
}

.author::after {
  content: "";
  position: absolute;
  border-left: 1px solid #a5a5a5;
  height: 1em;
  left: 10px;
}

.card.vertical > .review-container {
  border-top: 2px solid #e2e1e2;
  width: 240px;
  padding: 12px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card.vertical > .review-container > .text {
  color: #737373;
  font-size: 14px;
  white-space: nowrap;
  margin: 0;
}

.card.horizontal > .content > .review-container > .text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
