.inputbox {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 3px;
    font-size: 14px;
    outline-color: rgb(138, 205, 208);
    resize: none;
}

.inputbox::placeholder {
    color: rgb(234,166,163);
}

.inputbox:read-only {
    outline: 0;
}

.letter_count {
    position: absolute;
    right: 15px;
    bottom: 10px;
    color: rgba(0,0,0, .3);
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.input_form {
    width: 1000px;
    position: relative;
    display: table;
}

.save_button {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
    color: rgb(138, 205, 208);
    border: 1px solid rgb(163, 163, 163);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}