img {
    width: 100%;
}

.card {
    border: 1px solid rgba(0,0,0, .7);
    max-width: 16%;
    min-width: 250px;
}

.card_main {
    padding: 10px;
    background-color: rgb(248,249,251);
}

.card_label {
    color: rgba(0,0,0, .3);
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
}

.card_title {
    display: block;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 15px;
}

.card_highlight {
    font-size: 15px;
    color: rgb(221, 101, 95);
    padding-right: 5px;
}

.card_crossout {
    color: rgb(163, 163, 163);
    font-size: 14px;
    -ms-text-decoration: line-through;
    text-decoration: line-through;
}

.card_detail {
    padding: 10px;
    background-color: rgb(248,249,251);
    border-top: 1px solid rgba(0,0,0, .7);
}

.card_rating {
    display: inline-block;
}

.star {
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 3px;
}

.star:first-child {
    margin-left: 0; 
}

.filled_star {
    background-color: rgb(253, 198, 47);
}

.empty_star {
    background-color: rgb(217, 216, 216);
}